.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid grey;
	padding: 10px 0;
}

.navbar > .inputSpan {
	border: 1px solid grey;
	border-radius: 5px;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 7px;
}
